<div class="admin-component">
  <nav class="nav-bar">
    <ul>
      <li routerLink="/userlist" routerLinkActive="active" class="nav-link">
        <p>Get User List</p>
      </li>
      <li routerLink="/add-product" routerLinkActive="active" class="nav-link">Add Product</li>
      <li routerLink="/product-list" routerLinkActive="active" class="nav-link">Show Product list</li>
    </ul>
  </nav>
  
  <div id="get-user-list" class="content active">
    <h2>Get User List</h2>
    <!-- Add your content for retrieving user list here -->
  </div>
  
  <div id="add-product" class="content">
    <h2>Add Product</h2>
    <!-- Add your content for adding a product here -->
  </div>
  
  <div id="delete-product" class="content">
    <h2>Delete Product</h2>
    <!-- Add your content for deleting a product here -->
  </div>
</div>
