
<header>
    <h1>Welcome to Product Registration</h1>
  </header>
  <body>
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="onSubmit()" class="register-form">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" id="productName" placeholder="Product name" [(ngModel)]="product.productName" name="productName">
        </div>
  
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)]="product.price" name="price">
        </div>
  
        <div class="form-group">
          <label for="specification">Specification</label>
          <textarea class="form-control" id="specification" placeholder="Specification" [(ngModel)]="product.specification" name="specification"></textarea>
        </div>
  
        <div class="form-group">
          <label for="manufacturer">Manufacturer</label>
          <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer" [(ngModel)]="product.manufacturer" name="manufacturer">
        </div>
  
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" placeholder="Quantity" [(ngModel)]="product.quantity" name="quantity">
        </div>
  
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" [(ngModel)]="product.category" name="category">
            <option value="" disabled selected>Select a category</option>
            <option value="MOBILES">Mobiles</option>
            <option value="LAPTOP">Laptops</option>
            <option value="TABLET">Tablets</option>
            <option value="SMARTTV">Smart TVs</option>
            <option value="CAMERA">Cameras</option>
          </select>
        </div>
  
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
  
      <button class="btn btn-back" (click)="goBack()"><b>Go Back</b></button>
    </div>
  </body>
  