<div class="col-md-6 offset-md-3">
    <h3> update user </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>name</label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "users.name"  name ="name">
        </div>

        <br>
    
        <div class="form-group">
            <label>mobile</label>
            <input type="text" class ="form-control" id = "mobile"
                [(ngModel)] = "users.mobile"  name = "mobile">
        </div>

        <br>
    
        <div class="form-group">
            <label>password</label>
            <input type="text" class ="form-control" id = "password"
                [(ngModel)] = "users.password" name = "password">
        </div>

        <br> 

        <div class="form-group">
            <label>role</label>
            <input type="text" class ="form-control" id ="role"
                [(ngModel)] = "users.role" name = "role">
        </div>
    
        <br>
        <hr>
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
